.header {
    transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    animation: navbar-show 0.4s ease-in-out;
}

@keyframes navbar-show {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.navbar-collapse.collapsing {
    height: 0 !important;
    opacity: 0;
}

.navbar-collapse.show {
    height: auto !important;
    opacity: 1;
}