@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hero__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
    max-width: 49.75rem;
    animation: rotate 20s linear infinite;
}

.bg-dark {
    --si-bg-opacity: 1;
    background-color: #0b0f19;
}