@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hero__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
    max-width: 49.75rem;
    animation: rotate 20s linear infinite;
}

.bg-dark {
    --si-bg-opacity: 1;
    background-color: #0b0f19;
}

.bg-secondary {
    background-color: rgba(253, 0, 0);
}

@keyframes fadeOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.fade_1 {
    animation: fadeOpacity 1.5s ease-in-out forwards;
}

.fade_2 {
    animation: fadeOpacity 1.5s ease-in-out forwards 1s;
}

.fade_3 {
    animation: fadeOpacity 1.5s ease-in-out forwards 0.5s;
}

.fade_4 {
    animation: fadeOpacity 1.5s ease-in-out forwards 1.5s;
}