.htmlContent {
    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 2rem;
    }

    p,
    li {
        font-size: 1rem;
        line-height: 2;
        margin-bottom: 1rem;
        color: #333;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
    }

    figcaption {
        font-size: 0.9rem;
        color: #666;
        text-align: center;
        margin: 0.5rem 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        th {
            background-color: var(--primary-color);
            color: white;
            font-weight: bold;
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        td {
            padding: 12px;
            border: 1px solid #ddd;
            transition: background-color 0.3s;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    }

    @media (max-width: 768px) {

        p,
        li {
            line-height: 1.5;
        }

        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        figure {
            width: 90vw !important;
        }

    }
}