.page-item {
    background-color: #fff;

    margin: 0 0.125rem;

}

.page-link {
    position: relative;
    display: block;
    padding: 0.45rem 0.875rem;
    font-size: 0.875rem;
    color: #33354d;
    text-decoration: none;
    background-color: #00000000;
    border: 0 solid #e2e5f1;
    border-radius: 0.25rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-item.active .page-link {
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(99, 102, 241, 0.9);
}

.page-link.disabled,
.disabled>.page-link {
    color: #9397ad;
    pointer-events: none;
    background-color: #00000000;
    border-color: #e2e5f1;
}